
body{
	  font-family: "Times New Roman", Times, serif;
	  background-color: #F0F8FF;
	  
}

.logo{
	margin-left: 400px;
	margin-top: 20px;
	margin-bottom: -15px;
}


#menu li{
list-style: none;
display: inline;
padding: 30px;
font-size: 13px;
color: red;


}
a:active {
  background-color: yellow;
}
.main{
	margin-left: 550px;
	margin-top: 40px;
	
	
}
#menu a{
	text-decoration: none;
}


.dropdown {
 float: left;
 padding: 0;
 border: none;
 background: none;
 font-size: 12px;
 font-family: default;
}

.dropbtn {
padding: 0;
border: none;
background: none;	
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #F0E68C;
  text-decoration: none;
  padding: 0;
  border: none;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  font-size: 15px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
   
}

.dropdown:hover .dropdown-content {
  display: block;
}
.shop{
	margin-top: 35px;
	margin-left: -540px;
    margin-right: -50px;
	width: 990px;
}
.row{
	margin-left: -545px;
	margin-top: 30px;
}
.footer {
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFFFE0;
  color: black;
  text-align: center;
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.3%;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
<!-------------------------->
* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-left: 160px;
}



form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
h2{
  font-family: cursive;
  padding: 10px;
  font-size: 17px;
  float: left;
  margin-left: 160px;
}
h5{
  font-family: cursive;
  padding: 0px;
  font-size: 15px;
  float: left;
  margin-left: 160px;
}